.airbnb {
  &-heading {
    color: pal(brand, copy);

    &--primary {
      @include font(33, 400);
    }
    &--secondary {
      @include font(22, 400);
    }
    &--tertiary {

    }
    &--section {

    }
    &--subsection {

    }

    &--brand {
      color: pal(brand, pink);
    }

    &--bold {
      font-weight: 700;
    }
  }

  &-subheading {

  }

  &-copy {
    color: pal(brand, copy);

    &--large {

    }
    &--small {

    }
  }
}
